.col-sm-3 {
  border: 2px solid black;
  min-width: 200px;
  min-height: 200px;
  display: block;
  margin: auto;
  text-align: center;
}

img {
  max-width: 180px;
  max-height: 180px;
  margin-top: 10px;
}
